.form label {
    width: 40%;
    display: inline-block;
    margin: 2% 5% 3% 5%;
}

.form .toolbar {
    width: 204px;
    margin: auto;
    padding-top: 3%;
}

.form .previwe {
    float: left;
    position: fixed;
    margin: auto;
    height: 40px;
}

.form .input {
    margin: auto;
    width: 160px;
    display: inline-block;
}

.form .image {
    height: 80px;
}
